<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1 + 2</h1>
    <h3><%= ["hello", "bonjour", "namasta"] %><h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur cumque earum nesciunt, magnam soluta dolor laborum possimus dolorem doloribus reprehenderit? Recusandae est aliquid asperiores esse unde? Blanditiis eum ex placeat!</p>
    <button>click me!</button>
</body>
</html>